<app-hero></app-hero>

<app-product-carousel></app-product-carousel>

<app-info-section
  title="El Fascinante Mundo de la Apicultura"
  text="La apicultura no solo trata de miel; es una ventana a la naturaleza, la sostenibilidad y la conexión entre los seres vivos. Aquí te compartimos información interesante que te ayudará a conocer más sobre este arte milenario.<br><br><strong>¿Qué es la apicultura?</strong><br>La apicultura es la crianza y manejo de abejas con el objetivo de aprovechar productos como la miel, el polen, la cera, el propóleo y la jalea real. Es una actividad que mezcla ciencia, naturaleza y tradición, y que ayuda a conservar el medio ambiente."
  imageUrl="/assets/images/facinate_munbdo.webp"
  imagePosition="right"
  backgroundColor="#fffbe9">
</app-info-section>

<app-info-section
  title="Un poco de historia"
  text="La apicultura tiene más de 9,000 años de historia. Los antiguos egipcios ya recolectaban miel y veneraban a las abejas en sus templos como insectos sagrados. En la antigua Grecia y Roma, la miel era usada como medicina y alimento de lujo. Durante la Edad Media, los monjes criaban abejas para producir cera y miel. En América, los mayas criaban abejas meliponas (sin aguijón) y consideraban la miel como medicina y ofrenda espiritual. En el siglo XIX, la invención de la colmena moderna permitió una apicultura más sostenible. Hoy, esta práctica no solo produce miel, sino que ayuda a conservar la biodiversidad y asegurar la polinización de cultivos."
  imageUrl="/assets/images/historia.webp"
  imagePosition="left"
  backgroundColor="#ffffff">
</app-info-section>

<app-info-section
  title="¿Sabías que las abejas sostienen la vida en el planeta?"
  text="La apicultura es mucho más que recolectar miel. Es una conexión directa con la naturaleza, una forma de proteger la biodiversidad y un arte que combina conocimiento ancestral con ciencia moderna. Cada abeja en una colmena cumple una función precisa. Juntas, polinizan flores, permiten que nazcan frutos y mantienen vivos nuestros ecosistemas. Sin abejas, la vida como la conocemos cambiaría drásticamente."
  imageUrl="/assets/images/abejas.webp"
  imagePosition="right"
  backgroundColor="#fffbe9">
</app-info-section>
